APP_NAME=Barcode Center
DATABASE_URL=sqlite:///./barcode.db

MQTT_HOST=你的MQTT服务器地址
MQTT_PORT=8883
MQTT_USERNAME=你的用户名
MQTT_PASSWORD=你的密码
MQTT_CLIENT_ID=barcode_web_server

MQTT_USE_TLS=true
MQTT_TLS_INSECURE=true

MQTT_TOPIC_RESULT=mp157/barcode/result
MQTT_TOPIC_CMD=mp157/barcode/cmd

MQTT_SUBSCRIBE_QOS=0
MQTT_PUBLISH_QOS=0
